

@media screen and (max-width: 768px) {
  .Menu {
    display: block;
  }

  .navlinks {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .navlinks.active {
    left: 0;
  }
}
